@import '~style/helpers';

.container {
	display: block;
	justify-content: center;
	width:60px;
	height: 420px;
	margin-bottom: 400px;
}
.container button {
	margin: 0 auto;
	display: block;
	width: 60px;
	height: 60px;
	font-size: 30px;
	background: #333344;
	border: 1px solid #fff;
	color: #fff;
	font-weight: 300;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
}
.container button:hover {
	background: #595986;
	color: #D1C3BB;
	border: 1px solid transparent;
}
.container button:focus {
	background: #ba4444;
	color: #D1C3BB;
	border: 1px solid transparent;
}
