@import '~style/helpers';

.container {
	display: flex;
	background-color: #efeae7;
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	margin: 0 auto;
}
.header {
	display: block;
}
.details {
	flex: 4;
}
.city {
	flex: 1;
	font-size: 15px;
	color: #ba4444;
	font-weight: 400;
	margin-top: 22.5px;
	margin-left: 175px;
	width: auto;
	height:15px;

}
.conditions {
	flex: 1;
	font-size: 1em;
}
.temperature {
	display:block;
	font-size: 4.8em;
	font-weight: 300;
	letter-spacing: -5px;


}
.month{
	display:block;
	color: #ba4444;
	height: 35px;
	margin-top: 15px;
	margin-left: 10px;
	font-size: 30px;
}
.filled:after {
	content: "°C";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}
